.myAccordion {
  .css-1a20565-MuiButtonBase-root-MuiAccordionSummary-root {
    height: 40px !important;
    min-height: 30px !important;
  }
  .css-1a20565-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    height: 40px !important;
    min-height: 30px !important;
  }
  .css-1ypd8l6-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    height: 40px !important;
    min-height: 30px !important;
  }
  .css-1ypd8l6-MuiButtonBase-root-MuiAccordionSummary-root {
    height: 40px !important;
    min-height: 30px !important;
  }
}
